[submodule "LetsTweet"]
	path = LetsTweet
	url = git@github.com:BalajiDuraisamyOfficial/LetsTweet.git
[submodule "sendMailer"]
	path = sendMailer
	url = /Users/balaji-16440/Documents/Projects/MyPersonalPros/sendMailer
[submodule "telegramChatBotAPI"]
	path = telegramChatBotAPI
	url = git@github.com:BalajiDuraisamyOfficial/telegramChatBotAPI.git
[submodule "ChatGPTAPI"]
	path = ChatGPTAPI
	url = git@github.com:BalajiDuraisamyOfficial/ChatGPTAPI.git
